---
import bowArtemesian from './../images/webpages-assets/bow-arrow_Artemesian.png';
import BirchNebula from './../images/acrylic/Birch_Nebula.jpg';
import GalleryAssortmentArranged from './../images/webpages-assets/Gallery_Assortment_Arranged.jpg';
import WarriorImage from './../images/acrylic/WARRIOR/WARRIOR_22x28_mixed_media.jpg';
import Bifrost from './../images/acrylic/Bifrost/Bifrost.jpg';
import Breathe from './../images/acrylic/Bifrost/Breathe_2018_Bifrost.png';
import HeartExplosion from './../images/acrylic/Heart_Explosions/HEARTS_EXPLOSION_20x20_mixed_media.jpg';
import HeartBallet from './../images/acrylic/Heart_Explosions/Hearts_Ballet.jpg';
import SelfPortraitAcrylic from './../images/acrylic/Self-Portrait_acrylic_24x30.png';
import LittleOne from './../images/acrylic/Bifrost/Little_One_2020.jpg';
import FindYourCompass from './../images/acrylic/Fluid_Sky_Compass/Find_Your_Compass.jpg';
import FluidSkyCompass from './../images/acrylic/Fluid_Sky_Compass/Fluid_Sky_Compass.jpg';
---
<style lang="scss" scoped>
	@import "./../styles/styles.scss";
  @import "./../styles/carousel.scss";
  @import "./../styles/masonry.scss";
  @import "./../styles/buttons.scss";
  #h2masterpieces { margin:0 auto;max-width:60%; }
</style>
<div style="margin:2em auto 1em auto;text-align:center;">
  <h2 id="h2masterpieces">Please enjoy this selectively curated gallery featuring some of Diana&rsquo;s most acclaimed <a href="/acrylic" class="text_gradient">Abstract&nbsp;Acrylics</a><span>&#x202f;&#x1f5bc;&#x1f58c;</span></h2>
  <a href="/acrylic" 
    title="acrylics"
    class="rainbow rainbow_border" 
    style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3a8;&#x202f;&#x1f519;
  </a>
</div>
<div class="carousel">
  <button class="carousel__button carousel__button--left hidden">&#x276e;</button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img src={GalleryAssortmentArranged} title="Orlando Museum of Art exhibit assortment" alt="Orlando Museum of Art exhibit assortment" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={WarriorImage} title="Warrior" alt="Warrior" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={Bifrost} title="Bifrost" alt="Bifrost" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={Breathe} title="Breathe" alt="Breathe" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={HeartExplosion} title="Heart's Explosion" alt="Heart's Explosion" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={HeartBallet} title="Heart's Ballet" alt="Heart's Ballet" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={SelfPortraitAcrylic} title="Self Portrait" alt="Self Portrait" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={LittleOne} title="Little One" alt="Little One" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={FindYourCompass} alt="find your compass" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={FluidSkyCompass} alt="fluid sky compass" class="carousel__image">
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">&#x276f;</button>
  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>
<br><br>
<div style="text-align:center;margin:1em;">
  <img src={bowArtemesian} style="width:5em;">
</div>
<br>
<div class="masonry">
  <div class="ARTbrick">
    <a href={WarriorImage} title="Warrior" target="_blank">
      <img src={WarriorImage} alt="Warrior">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={Bifrost} title="Bifrost" target="_blank">
      <img src={Bifrost}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={Breathe} target="_blank">
      <img src={Breathe}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={HeartExplosion} target="_blank">
      <img src={HeartExplosion}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={HeartBallet} target="_blank">
      <img src={HeartBallet}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={SelfPortraitAcrylic} title="Self Portrait" target="_blank">
      <img src={SelfPortraitAcrylic} alt="Self Portrait">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={LittleOne} title="Little One" target="_blank">
      <img src={LittleOne} alt="Little One">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={FindYourCompass} target="_blank">
      <img src={FindYourCompass}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={FluidSkyCompass} target="_blank">
      <img src={FluidSkyCompass}>
    </a>
  </div>
</div>
<br>
<div style="width:100%;margin:1em 0 2em 0;text-align:center;">
  <a href="/" class="rainbow rainbow_border" style="vertical-align:middle;font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>
<br>
<div style="text-align:center;">
  <img src={BirchNebula} style="max-width:75%;border-radius:45%;">
</div>
<br>



<script type="text/JavaScript">
  const track = document.querySelector('.carousel__track');
  const slides = Array.from(track.children);
  const nextButton = document.querySelector('.carousel__button--right');
  const prevButton = document.querySelector('.carousel__button--left');
  const dotsNav = document.querySelector('.carousel__nav');
  const dots = Array.from(dotsNav.children);
  const slideWidth = slides[0].getBoundingClientRect().width;
  // Arrange SLIDES next to one another
  const setSlidePosition = (slide, index) => {
    slide.style.left = slideWidth * index + 'px';  
  }
  slides.forEach(setSlidePosition);
  // MOVE slide
  const moveToSlide = (currentSlide, targetSlide, targetDot, targetIndex) => {
    const currentDot = dotsNav.querySelector('.current-slide');
    track.style.transform = 'translateX(-'+ targetSlide.style.left + ')';
    currentSlide.classList.remove('current-slide');
    targetSlide.classList.add('current-slide');
    currentDot.classList.remove('current-slide');
    targetDot.classList.add('current-slide');
    if (targetIndex === 0) {
      prevButton.classList.add('hidden');
      nextButton.classList.remove('hidden');
    } else if (targetIndex == slides.length - 1) {
      prevButton.classList.remove('hidden');
      nextButton.classList.add('hidden');
    } else {
      prevButton.classList.remove('hidden');
      nextButton.classList.remove('hidden');
    }
  }
  // click LEFT moves slides to the Left
  function handleLeft(e) {
    const currentSlide = track.querySelector('.current-slide');
    const prevSlide = currentSlide.previousElementSibling;
    const slideIndex = slides.findIndex(slide => slide === prevSlide);
    const targetDot = dots[slideIndex];
    //move to the next slide
    moveToSlide(currentSlide, prevSlide, targetDot, slideIndex);  
    if (prevSlide == currentSlide) {
      prevButton.classlist.add('hidden');
      moveToSlide(currentSlide, prevSlide, targetDot);
    }
  }
  prevButton.addEventListener('click', event => {
    this.handleLeft(event);
  })
  // click RIGHT moves slides to the Right
  function handleRight(e) {
    const currentSlide = track.querySelector('.current-slide');
    const nextSlide = currentSlide.nextElementSibling;
    const slideIndex = slides.findIndex(slide => slide === nextSlide);
    const targetDot = dots[slideIndex];
    // move to the next slide
    if (slideIndex != -1) 
      moveToSlide(currentSlide, nextSlide, targetDot, slideIndex);
  }
  nextButton.addEventListener('click', event => {
    this.handleRight(event);
  })
  // clicking the nav indicators moves to that slide
  dotsNav.addEventListener('click', e => {
    const targetDot = e.target.closest('button');
    if (!targetDot) return;
    const currentSlide = track.querySelector('.current-slide');
    const targetIndex = dots.findIndex(dot => dot === targetDot);
    const targetSlide = slides[targetIndex];
    moveToSlide(currentSlide, targetSlide, targetDot, targetIndex);
  })
  // handle arrow keys carousel
  document.onkeydown = function(e) {
    switch (e.keyCode) {
      case 37:
        handleLeft(e);
        break;
      case 38:
        window.scrollTo(0,0);
        break;
      case 39:
        handleRight(e);
        break;
      case 40:
        window.scrollTo(0, document.body.scrollHeight);
        break;
    }
  }; 
</script>