---
import bowArtemesian from '../images/webpages-assets/bow-arrow_Artemesian.png';
import DeepColor from '../images/acrylic/Deep_Color.jpg';
import PrismaticFolds from '../images/acrylic/prism_of_orientation/Prismatic_Folds.jpg';
import ColorCycles2019 from '../images/acrylic/Color_Cycles_2019.jpg';
import SpringWatersCascade from '../images/acrylic/Waters_of_Spring/Spring_Waters_Cascade.jpg';
import GerminatedHorizons from '../images/acrylic/Germinating_Horizons_2019.jpg';
import BoxedIn from '../images/acrylic/Boxed_in_2020.jpg';
import PandemicMicrocosm from '../images/acrylic/Pandemic_Microcosm.jpg';
import ThreeBodyRainbow from '../images/acrylic/prism_of_orientation/Three_Body_Rainbow.jpg';
import LavenderHaze from '../images/acrylic/Lavender_Haze.jpg';
import MobiusWoman from '../images/acrylic/Mobius_Woman.jpg';
---
<style lang="scss" scoped>
	@import "../styles/styles.scss";
  @import "../styles/carousel.scss";
  @import "../styles/masonry.scss";
  @import "../styles/buttons.scss";
  #h1geometry { margin:1em auto 1em auto;text-align:center;max-width:80%; }
  .geometry_gradient {
    position: relative;
    background-image: linear-gradient(135deg, #38241c 0%, #7d391b 25%, #784434 50%, #851c04 75%, #d97c53 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  }
</style>
<div style="margin:0;">
  <h1 id="h1geometry">Diana&rsquo;s <span class="geometry_gradient">Abstract Geometric Paintings</span><span>&#x202f;&#x1f3a8;&#x1f58c;</span></h1>
  <a href="/" class="rainbow rainbow_border" style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>
<div class="carousel">
  <button class="carousel__button carousel__button--left hidden">&#x276e;</button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img src={DeepColor} alt="Deep Color" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={PrismaticFolds} title="Prismatic Folds" alt="Prismatic Folds" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={ColorCycles2019} title="Creative Consumption, 2019" alt="Creative Consumption, 2019" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={SpringWatersCascade} class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={GerminatedHorizons} class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={BoxedIn} title="Boxed In, 2020" alt="Boxed In, 2020" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={PandemicMicrocosm} alt="Pandemic Microcosm" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={ThreeBodyRainbow} title="Three Body Rainbow" alt="Three Body Rainbow" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={LavenderHaze} title="Lavender Haze" alt="Lavender Haze" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={MobiusWoman} title="Mobius Woman" alt="Mobius Woman" class="carousel__image">
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">&#x276f;</button>
  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>
<br><br>
<div style="text-align:center;margin:1em;">
  <img src={bowArtemesian} style="width:5em;">
</div>
<br>
<div class="masonry">
  <div class="ARTbrick">
    <a href={DeepColor} target="_blank">
      <img src={DeepColor} alt="Deep Color">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={PrismaticFolds} target="_blank">
      <img src={PrismaticFolds}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={ColorCycles2019} title="2019" target="_blank">
      <img src={ColorCycles2019}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={SpringWatersCascade} target="_blank">
      <img src={SpringWatersCascade}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={GerminatedHorizons} target="_blank">
      <img src={GerminatedHorizons}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={BoxedIn} title="Boxed-In, 2020" target="_blank">
      <img src={BoxedIn} alt="Boxed-In, 2020">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={PandemicMicrocosm} target="_blank">
      <img src={PandemicMicrocosm} alt="Pandemic Microcosm">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={ThreeBodyRainbow} target="_blank">
      <img src={ThreeBodyRainbow}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={LavenderHaze} title="Lavender Haze" target="_blank">
      <img src={LavenderHaze} alt="Lavender Haze">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={MobiusWoman} title="Self Portrait" target="_blank">
      <img src={MobiusWoman} alt="Mobius Woman Self Portrait">
    </a>
  </div>
</div>
<br>
<div style="width:100%;padding: 0 0 2em 0;text-align:center;">
  <a href="/" class="rainbow rainbow_border" style="vertical-align:middle;font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>
<script type="text/JavaScript">
  const track = document.querySelector('.carousel__track');
  const slides = Array.from(track.children);
  const nextButton = document.querySelector('.carousel__button--right');
  const prevButton = document.querySelector('.carousel__button--left');
  const dotsNav = document.querySelector('.carousel__nav');
  const dots = Array.from(dotsNav.children);
  const slideWidth = slides[0].getBoundingClientRect().width;
  // Arrange SLIDES next to one another
  const setSlidePosition = (slide, index) => {
    slide.style.left = slideWidth * index + 'px';  
  }
  slides.forEach(setSlidePosition);
  // MOVE slide
  const moveToSlide = (currentSlide, targetSlide, targetDot, targetIndex) => {
    const currentDot = dotsNav.querySelector('.current-slide');
    track.style.transform = 'translateX(-'+ targetSlide.style.left + ')';
    currentSlide.classList.remove('current-slide');
    targetSlide.classList.add('current-slide');
    currentDot.classList.remove('current-slide');
    targetDot.classList.add('current-slide');
    if (targetIndex === 0) {
      prevButton.classList.add('hidden');
      nextButton.classList.remove('hidden');
    } else if (targetIndex == slides.length - 1) {
      prevButton.classList.remove('hidden');
      nextButton.classList.add('hidden');
    } else {
      prevButton.classList.remove('hidden');
      nextButton.classList.remove('hidden');
    }
  }
  // click LEFT moves slides to the Left
  function handleLeft(e) {
    const currentSlide = track.querySelector('.current-slide');
    const prevSlide = currentSlide.previousElementSibling;
    const slideIndex = slides.findIndex(slide => slide === prevSlide);
    const targetDot = dots[slideIndex];
    //move to the next slide
    moveToSlide(currentSlide, prevSlide, targetDot, slideIndex);  
    if (prevSlide == currentSlide) {
      prevButton.classlist.add('hidden');
      moveToSlide(currentSlide, prevSlide, targetDot);
    }
  }
  prevButton.addEventListener('click', event => {
    this.handleLeft(event);
  })
  this.doc?.keydown(function(event) {
    if (event.keycode === 37) this.handleLeft(event);
  })
  // click RIGHT moves slides to the Right
  function handleRight(e) {
    const currentSlide = track.querySelector('.current-slide');
    const nextSlide = currentSlide.nextElementSibling;
    const slideIndex = slides.findIndex(slide => slide === nextSlide);
    const targetDot = dots[slideIndex];
    // move to the next slide
    if (slideIndex != -1) 
      moveToSlide(currentSlide, nextSlide, targetDot, slideIndex);
  }
  nextButton.addEventListener('click', event => {
    this.handleRight(event);
  })
  // clicking the nav indicators moves to that slide
  dotsNav.addEventListener('click', e => {
    const targetDot = e.target.closest('button');
    if (!targetDot) return;
    const currentSlide = track.querySelector('.current-slide');
    const targetIndex = dots.findIndex(dot => dot === targetDot);
    const targetSlide = slides[targetIndex];
    moveToSlide(currentSlide, targetSlide, targetDot, targetIndex);
  })
  </script>