---
import bowArtemesian from './../images/webpages-assets/bow-arrow_Artemesian.png';
import WildBeach from './../images/acrylic/Wild_Beach/Wild_Beach.jpg';
import WildOceanSprayBeach from './../images/acrylic/Wild_Beach/Wild_Ocean_Spray_on_Beach.jpg';
import WildOceanSpray from './../images/acrylic/Wild_Beach/Wild_Ocean_Spray.jpg';
import SpringWatersCascade from './../images/acrylic/Waters_of_Spring/Spring_Waters_Cascade.jpg';
import SpringWatersFont from './../images/acrylic/Waters_of_Spring/Spring_Waters_Font.jpg';
import SpringWaters from './../images/acrylic/Waters_of_Spring/Spring_Waters.jpg';
import WaveSand from './../images/acrylic/Wild_Beach/Wave_Sand/Wave_Sand.jpg';
import WaterVapor from './../images/acrylic/Water_Vapor.jpg';
import AngrySplash from './../images/acrylic/Wild_Beach/Angry_Splash.jpg';
---
<style lang="scss" scoped>
	@import "./../styles/styles.scss";
  @import "./../styles/carousel.scss";
  @import "./../styles/masonry.scss";
  @import "./../styles/buttons.scss";
  #h1seascapes { margin:0 auto;max-width:80%; }
  .seascapes_gradient {
    position: relative;
    background-image: linear-gradient(135deg, #213042 0%, #1e3a58 10%, #346084 25%, #2f728d 50%, #81A5C3 75%, #c5aab2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  }
</style>
<div style="margin:2em auto 1em auto;text-align:center;">
  <h1 id="h1seascapes">Diana&rsquo;s <span class="seascapes_gradient">Aquatic or Seascape Paintings</span>
    <span>&#x202f;&#x1f30a;&#x1f58c;</span>
  </h1>
  <a href="/" class="rainbow rainbow_border" style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>
<div class="carousel">
  <button class="carousel__button carousel__button--left hidden">&#x276e;</button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img src={WildOceanSprayBeach} alt="Wild Ocean Spray" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={WildOceanSpray} alt="Wild Ocean Spray" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={SpringWatersCascade} alt="Spring Waters Cascade" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={SpringWatersFont} alt="Spring Waters Font" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={SpringWaters} alt="Spring Waters" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={WaveSand} alt="Wave Sand" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={WaterVapor} alt="Water Vapor" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={AngrySplash} alt="Angry Splash" class="carousel__image">
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">&#x276f;</button>
  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>
<br><br>
<div style="text-align:center;margin:1em;">
  <img src={bowArtemesian} style="width:5em;">
</div>
<br>
<div class="masonry">
  <div class="ARTbrick">
    <a href={WildBeach} target="_blank">
      <img src={WildBeach} alt="Wild Beach">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={WildOceanSprayBeach} target="_blank">
      <img src={WildOceanSprayBeach} alt="Wild Ocean Spray">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={WildOceanSpray} target="_blank">
      <img src={WildOceanSpray} alt="Wild Ocean Spray">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={SpringWatersCascade} target="_blank">
      <img src={SpringWatersCascade} alt="Spring Waters Cascade">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={SpringWatersFont} target="_blank">
      <img src={SpringWatersFont} alt="Spring Waters Font">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={SpringWaters} target="_blank">
      <img src={SpringWaters} alt="Spring Waters">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={WaveSand} target="_blank">
      <img src={WaveSand} alt="Waves and Sand">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={WaterVapor} target="_blank">
      <img src={WaterVapor} alt="Water Vapor">
    </a>
  </div>
  <div class="ARTbrick">
    <a href={AngrySplash} target="_blank">
      <img src={AngrySplash} alt="Angry Splash">
    </a>
  </div>
</div>
<br>
<div style="width:100%;padding: 0 0 2em 0;text-align:center;">
  <a href="/" class="rainbow rainbow_border" style="vertical-align:middle;font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>

<script type="text/JavaScript">
  const track = document.querySelector('.carousel__track');
  const slides = Array.from(track.children);
  const nextButton = document.querySelector('.carousel__button--right');
  const prevButton = document.querySelector('.carousel__button--left');
  const dotsNav = document.querySelector('.carousel__nav');
  const dots = Array.from(dotsNav.children);
  const slideWidth = slides[0].getBoundingClientRect().width;
  // Arrange SLIDES next to one another
  const setSlidePosition = (slide, index) => {
    slide.style.left = slideWidth * index + 'px';  
  }
  slides.forEach(setSlidePosition);
  // MOVE slide
  const moveToSlide = (currentSlide, targetSlide, targetDot, targetIndex) => {
    const currentDot = dotsNav.querySelector('.current-slide');
    track.style.transform = 'translateX(-'+ targetSlide.style.left + ')';
    currentSlide.classList.remove('current-slide');
    targetSlide.classList.add('current-slide');
    currentDot.classList.remove('current-slide');
    targetDot.classList.add('current-slide');
    if (targetIndex === 0) {
      prevButton.classList.add('hidden');
      nextButton.classList.remove('hidden');
    } else if (targetIndex == slides.length - 1) {
      prevButton.classList.remove('hidden');
      nextButton.classList.add('hidden');
    } else {
      prevButton.classList.remove('hidden');
      nextButton.classList.remove('hidden');
    }
  }
  // click LEFT moves slides to the Left
  function handleLeft(e) {
    const currentSlide = track.querySelector('.current-slide');
    const prevSlide = currentSlide.previousElementSibling;
    const slideIndex = slides.findIndex(slide => slide === prevSlide);
    const targetDot = dots[slideIndex];
    //move to the next slide
    moveToSlide(currentSlide, prevSlide, targetDot, slideIndex);  
    if (prevSlide == currentSlide) {
      prevButton.classlist.add('hidden');
      moveToSlide(currentSlide, prevSlide, targetDot);
    }
  }
  prevButton.addEventListener('click', event => {
    this.handleLeft(event);
  })
  // click RIGHT moves slides to the Right
  function handleRight(e) {
    const currentSlide = track.querySelector('.current-slide');
    const nextSlide = currentSlide.nextElementSibling;
    const slideIndex = slides.findIndex(slide => slide === nextSlide);
    const targetDot = dots[slideIndex];
    // move to the next slide
    if (slideIndex != -1) 
      moveToSlide(currentSlide, nextSlide, targetDot, slideIndex);
  }
  nextButton.addEventListener('click', event => {
    this.handleRight(event);
  })
  // clicking the nav indicators moves to that slide
  dotsNav.addEventListener('click', e => {
    const targetDot = e.target.closest('button');
    if (!targetDot) return;
    const currentSlide = track.querySelector('.current-slide');
    const targetIndex = dots.findIndex(dot => dot === targetDot);
    const targetSlide = slides[targetIndex];
    moveToSlide(currentSlide, targetSlide, targetDot, targetIndex);
  })
  // handle arrow keys carousel
  document.onkeydown = function(e) {
    switch (e.keyCode) {
      case 37:
        handleLeft(e);
        break;
      case 38:
        window.scrollTo(0,0);
        break;
      case 39:
        handleRight(e);
        break;
      case 40:
        window.scrollTo(0, document.body.scrollHeight);
        break;
    }
  }; 
</script>