---
import '../styles/styles.scss';
import '../styles/masonry.scss';
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
import WarriorImage from '../images/acrylic/WARRIOR/WARRIOR_22x28_mixed_media.jpg';
import Bifrost from '../images/acrylic/Bifrost/Bifrost.jpg';
import Breathe from '../images/acrylic/Bifrost/Breathe_2018_Bifrost.png';
import HeartExplosion from '../images/acrylic/Heart_Explosions/HEARTS_EXPLOSION_20x20_mixed_media.jpg';
import HeartBallet from '../images/acrylic/Heart_Explosions/Hearts_Ballet.jpg';
import GuardedHeart from '../images/acrylic/Gaurded_Heart.jpg';
import LittleOne from '../images/acrylic/Bifrost/Little_One_2020.jpg';
import FindYourCompass from '../images/acrylic/Fluid_Sky_Compass/Find_Your_Compass.jpg';
import FluidSkyCompass from '../images/acrylic/Fluid_Sky_Compass/Fluid_Sky_Compass.jpg';
import AngelicPrismEos from '../images/acrylic/prism_of_orientation/Angelic_Prism_of_Eos.jpg';
import LungsRainbow from '../images/acrylic/prism_of_orientation/Lungs_of_Rainbow.jpg';
import MushroomRainbow from '../images/acrylic/prism_of_orientation/Mushroom_Rainbow.jpg';
import OraclarPalantir from '../images/acrylic/prism_of_orientation/Oraclar_Palantir.jpg';
import PrismaticFolds from '../images/acrylic/prism_of_orientation/Prismatic_Folds.jpg';
import ThreeBodyRainbow from '../images/acrylic/prism_of_orientation/Three_Body_Rainbow.jpg';
import BlueSmokySpring from '../images/acrylic/Smoky_Spring_Bloom/Blue_Smoky_Spring_Bloom_2018.jpg';
import SpringWatersCascade from '../images/acrylic/Waters_of_Spring/Spring_Waters_Cascade.jpg';
import SpringWatersFont from '../images/acrylic/Waters_of_Spring/Spring_Waters_Font.jpg';
import SpringWaters from '../images/acrylic/Waters_of_Spring/Spring_Waters.jpg';
import WaveSand from '../images/acrylic/Wild_Beach/Wave_Sand/Wave_Sand.jpg';
import AngrySplash from '../images/acrylic/Wild_Beach/Angry_Splash.jpg';
import GrainsSand from '../images/acrylic/Wild_Beach/Grains_of_Sand.jpg';
import WildBeach from '../images/acrylic/Wild_Beach/Wild_Beach.jpg';
import WildOceanSrapy from '../images/acrylic/Wild_Beach/Wild_Ocean_Spray.jpg';
import WildOceanSprayBeach from '../images/acrylic/Wild_Beach/Wild_Ocean_Spray_on_Beach.jpg';
import TucsonDay from '../images/acrylic/A_Tucson_Day.jpg';
import AuroraCascade from '../images/acrylic/Aurora_Cascade.jpg';
import AuroranRings from '../images/acrylic/Auroran_Rings.png';
import BeautifulDecay from '../images/acrylic/beautiful_decay.jpg';
import Bernice from '../images/acrylic/Bernice_2017_Albatross_of_Leucothea.png';
import BlazingTumult from '../images/acrylic/Blazing_Tumult.png';
import BloomingHand from '../images/acrylic/Blooming_Hand.png';
import BloomingHandMeadow from '../images/acrylic/Blooming_Meadow_2019.jpg';
import BoxedIn2020 from '../images/acrylic/Boxed_in_2020.jpg';
import CascadesMountains2017 from '../images/acrylic/Cascades_Mountains_2017.png';
import Chelsea2017 from '../images/acrylic/Chelsea_2017.png';
import Cloudburst from '../images/acrylic/Cloudburst.jpg';
import CreativeConsumption from '../images/acrylic/Creative_Consumption.jpg';
import DeepColor from '../images/acrylic/Deep_Color.jpg';
import Garden from '../images/acrylic/Garden.jpg';
import GerminatedHorizons from '../images/acrylic/Germinating_Horizons_2019.jpg';
import GlassHouses from '../images/acrylic/Glass_Houses.jpg';
import GlowCave from '../images/acrylic/Glow_Cave.jpg';
import GrandesBaigneuses from '../images/acrylic/Grandes_Baigneuses.jpg';
import Happiness2017 from '../images/acrylic/Happiness_2017.jpg';
import HappyCircle from '../images/acrylic/Happy_Circle_2017.png';
import HazyMirage from '../images/acrylic/Hazy_Mirage.jpg';
import HazyMystery from '../images/acrylic/Hazy_Mystery.jpg';
import LavenderHaze from '../images/acrylic/Lavender_Haze.jpg';
import MaroonSwatches2017 from '../images/acrylic/Maroon_Swatches_2017.png';
import MobiusWoman from '../images/acrylic/Mobius_Woman.jpg';
import NewOrleans2022jazz from '../images/acrylic/New_Orleans_2022_Jazz.jpg';
import NorthCarolinaHills from '../images/acrylic/North_Carolina_Hills.jpg';
import PandemicMicrocosm from '../images/acrylic/Pandemic_Microcosm.jpg';
import PiercingGaze2018 from '../images/acrylic/Piercing_Gaze_2018.png';
import Pollen from '../images/acrylic/Pollen.jpg';
import RainbowRoad2018 from '../images/acrylic/Rainbow_Road_2018.png';
import RothkoRED from '../images/acrylic/Rothko_RED.jpg';
import Smattering from '../images/acrylic/Smattering.png';
import Smear from '../images/acrylic/Smear.jpg';
import ThreeAmaterasuPeaks from '../images/acrylic/Three_Amaterasu_Peaks.png';
import Unicorn from '../images/acrylic/Unicorn.jpg';
import WaterVapor from '../images/acrylic/Water_Vapor.jpg';
import ZombieBloom from '../images/acrylic/Zombie_Bloom.jpg';
import SelfPortraitAcrylic from '../images/acrylic/Self-Portrait_acrylic_24x30.png';
---
<style lang="scss" scoped>
  @import "../styles/buttons.scss";
	@import "../styles/styles.scss";
  @import "../styles/masonry.scss";
  #h1acrylic { margin:0 auto;text-align:center;max-width:75%; }
</style>
<MainLayout title="Check out some of Diana’s acrylic paintings!">
<main>
  <div style="margin:0;">
    <h1 id="h1acrylic"><span>&#x202f;&#x1f5bc;&#x1f58c;&#x202f;</span>Diana&rsquo;s <span class="text_gradient">Abstract Acrylics</span></h1>
    <a href="/" class="rainbow rainbow_border" style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3e0;&#x202f;&#x1f519;</a>
  </div>
  <ul role="list" class="link-card-grid" style="clear:both;">
    <Card
      href="/abstract-masterpieces"
      title="Abstract Acrylic Masterpieces"
      body="Check out a “special selections” gallery of some of the abstract paintings that Diana is personally proudest of, most of which have also been especially widely acclaimed by those familiar with her work, comissioned, or prominently displayed somewhere as standout pieces that arguably represent some of her best work!"
    />
    <Card
      href="/abstract-surrealism"
      title="Abstract Surrealist Acrylics"
      body="Check out some of Diana's surrealist style acrylic paintings!"
    />
    <Card
      href="/abstract-figures"
      title="Abstract Figures"
      body="Check out some of Diana's acrylics featuring abstract figures or bodies."
    />
    <Card
      href="/abstract-geometry"
      title="Abstract Geometries"
      body="Check out some of Diana's abstract paintings which focus on geometric shapes as prominent compositional motifs!"
    />
    <Card
      href="/abstract-landscapes"
      title="Abstract or Impressionistic Landscapes"
      body="Check out some of Diana's abstract paintings which evoke natrual or landscape scenery!"
    />
    <Card
      href="/abstract-seascapes"
      title="Abstract or Impressionistic Aquatic or Coastal Seascapes"
      body="Check out some of Diana's abstract paintings which evoke natrual aquatic, coastal, or beach themed scenery!"
    />
  </ul>
  <div class="masonry">
    <div class="ARTbrick">
      <a href={WarriorImage} target="_blank">
        <img src={WarriorImage}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Bifrost} target="_blank">
        <img src={Bifrost}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Breathe} target="_blank">
        <img src={Breathe}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={HeartExplosion} target="_blank">
        <img src={HeartExplosion}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={HeartBallet} target="_blank">
        <img src={HeartBallet}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={GuardedHeart} target="_blank">
        <img src={GuardedHeart}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={LittleOne} target="_blank">
        <img src={LittleOne}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={FindYourCompass} target="_blank">
        <img src={FindYourCompass}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={FluidSkyCompass} target="_blank">
        <img src={FluidSkyCompass}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={AngelicPrismEos} target="_blank">
        <img src={AngelicPrismEos}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={LungsRainbow} target="_blank">
        <img src={LungsRainbow}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={MushroomRainbow} target="_blank">
        <img src={MushroomRainbow}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={OraclarPalantir} target="_blank">
        <img src={OraclarPalantir}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={PrismaticFolds} target="_blank">
        <img src={PrismaticFolds}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={ThreeBodyRainbow} target="_blank">
        <img src={ThreeBodyRainbow}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={BlueSmokySpring} target="_blank">
        <img src={BlueSmokySpring}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={SpringWatersCascade} target="_blank">
        <img src={SpringWatersCascade}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={SpringWatersFont} target="_blank">
        <img src={SpringWatersFont}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={SpringWaters} target="_blank">
        <img src={SpringWaters}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={WaveSand} target="_blank">
        <img src={WaveSand}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={AngrySplash} target="_blank">
        <img src={AngrySplash}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={GrainsSand} target="_blank">
        <img src={GrainsSand}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={WildBeach} target="_blank">
        <img src={WildBeach}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={WildOceanSrapy} target="_blank">
        <img src={WildOceanSrapy}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={WildOceanSprayBeach} target="_blank">
        <img src={WildOceanSprayBeach}>
      </a> 
    </div>
    <div class="ARTbrick">
      <a href={TucsonDay} target="_blank">
        <img src={TucsonDay}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={AuroraCascade} target="_blank">
        <img src={AuroraCascade}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={AuroranRings} target="_blank">
        <img src={AuroranRings}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={BeautifulDecay} target="_blank">
        <img src={BeautifulDecay}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Bernice} target="_blank">
        <img src={Bernice}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={BlazingTumult} target="_blank">
        <img src={BlazingTumult}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={BloomingHand} target="_blank">
        <img src={BloomingHand}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={BloomingHandMeadow} target="_blank">
        <img src={BloomingHandMeadow}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={BoxedIn2020} target="_blank">
        <img src={BoxedIn2020}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={CascadesMountains2017} target="_blank">
        <img src={CascadesMountains2017}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Chelsea2017} target="_blank">
        <img src={Chelsea2017}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Cloudburst} target="_blank">
        <img src={Cloudburst}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={CreativeConsumption} title="Creative Consumption, 2019" target="_blank">
        <img src={CreativeConsumption} alt="Creative Consumption, 2019">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={DeepColor} target="_blank">
        <img src={DeepColor}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Garden} target="_blank">
        <img src={Garden}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={GerminatedHorizons} target="_blank">
        <img src={GerminatedHorizons}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={GlassHouses} target="_blank">
        <img src={GlassHouses}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={GlowCave} target="_blank">
        <img src={GlowCave}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={GrandesBaigneuses} target="_blank">
        <img src={GrandesBaigneuses}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Happiness2017} title="Happiness, 2017" target="_blank">
        <img src={Happiness2017} alt="Happiness, 2017">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={HappyCircle} target="_blank">
        <img src={HappyCircle}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={HazyMirage} target="_blank">
        <img src={HazyMirage}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={HazyMystery} target="_blank">
        <img src={HazyMystery}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={LavenderHaze} title="Lavender Haze" target="_blank">
        <img src={LavenderHaze} alt="Lavender Haze">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={MaroonSwatches2017} title="Maroon, 2017" target="_blank">
        <img src={MaroonSwatches2017} alt="Maroon, 2017">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={MobiusWoman} target="_blank">
        <img src={MobiusWoman}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={NewOrleans2022jazz} title="New Orleans, 2022" target="_blank">
        <img src={NewOrleans2022jazz} alt="New Orleans, 2022">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={NorthCarolinaHills} title="North Carolina hills" target="_blank">
        <img src={NorthCarolinaHills} alt="North Carolina hills">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={PandemicMicrocosm} target="_blank">
        <img src={PandemicMicrocosm}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={PiercingGaze2018} target="_blank">
        <img src={PiercingGaze2018}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Pollen} target="_blank">
        <img src={Pollen}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={RainbowRoad2018} target="_blank">
        <img src={RainbowRoad2018}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={RothkoRED} title="Rothko RED" target="_blank">
        <img src={RothkoRED} alt="Rothko RED">
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Smattering} target="_blank">
        <img src={Smattering}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Smear} target="_blank">
        <img src={Smear}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={ThreeAmaterasuPeaks} target="_blank">
        <img src={ThreeAmaterasuPeaks}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={Unicorn} target="_blank">
        <img src={Unicorn}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={WaterVapor} target="_blank">
        <img src={WaterVapor}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={ZombieBloom} target="_blank">
        <img src={ZombieBloom}>
      </a>
    </div>
    <div class="ARTbrick">
      <a href={SelfPortraitAcrylic} target="_blank">
        <img src={SelfPortraitAcrylic}>
      </a>
    </div>
  </div>
</main>
<div style="width:100%;padding: 0 0 2em 0;text-align:center;">
  <a href="/" class="rainbow rainbow_border" style="vertical-align:middle;font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>
</MainLayout>





