---
import bowArtemesian from './../images/webpages-assets/bow-arrow_Artemesian.png';
import DruidLake from './../images/webpages-assets/Druid_Lake_Audubon_Park.jpg';
import BrokenHeart from './../images/watercolor/broken-heart.jpg';
import CerebralVeils from './../images/watercolor/Cerebral_Veils_2018.png';
import CreativeMeander from './../images/watercolor/Creative_Meander.jpg';
import CrystalFungi from './../images/watercolor/Crystal_Fungi.jpg';
import Elephant from './../images/watercolor/Elephant_2017.jpg';
import FetalWaves from './../images/watercolor/fetal_waves.jpg';
import HippocampusHaze from './../images/watercolor/Hippocampus_Haze.png';
import MyGeography from './../images/watercolor/My_Geography_2018.jpg';
import NeuralMycelia from './../images/watercolor/Neural_Mycelia.jpg';
import RowsOnRows from './../images/watercolor/Rows_on_Rows_2018.png';
---
<style lang="scss" scoped>
	@import "./../styles/styles.scss";
  @import "./../styles/carousel.scss";
  @import "./../styles/masonry.scss";
  @import "./../styles/buttons.scss";
  #h1watercolor { margin:1em auto 0 auto;text-align:center;max-width:70%; }
  .water_gradient {
    position: relative;
    background-image: linear-gradient(135deg, #1B5685 0%, #285B84 10%, #346084 25%, #81A5C3 40%, #9AB7CF 50%, #B3C9DB 75%, #CCDBE7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  }
</style>
<div style="margin:0;">
  <h1 id="h1watercolor">
    <span class="water_gradient">Watercolors</span>
    <span>&#x202f;&#x1f4a6;&#x1f3a8;&#x1f58c;</span>
  </h1>
  <a href="/" class="rainbow rainbow_border" style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3e0;&#x202f;&#x1f519;</a>  
</div>
<div class="carousel">
  <button class="carousel__button carousel__button--left hidden">&#x276e;</button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img src={DruidLake} alt="Druid Lake" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={BrokenHeart} alt="Broken Heart" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={CerebralVeils} alt="Cerebral Veils" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={CreativeMeander} alt="Creative Meander" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={CrystalFungi} alt="Crystal Fungi" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={Elephant} alt="Elephant" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={FetalWaves} alt="Fetal Waves" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={HippocampusHaze} alt="Hippocampus Haze" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={MyGeography} alt="My Geography, 2018" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={NeuralMycelia} alt="Neural Mycelia" class="carousel__image">
      </li>
      <li class="carousel__slide">
        <img src={RowsOnRows} alt="Rows on Rows 2018" class="carousel__image">
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">&#x276f;</button>
  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>
<br><br>
<div style="text-align:center;margin:1em;">
  <img src={bowArtemesian} style="width:5em;">
</div>
<br>
<div class="masonry">
  <div class="ARTbrick">
    <a href={DruidLake} target="_blank">
      <img src={DruidLake}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={BrokenHeart} target="_blank">
      <img src={BrokenHeart}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={CerebralVeils} target="_blank">
      <img src={CerebralVeils}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={CreativeMeander} target="_blank">
      <img src={CreativeMeander}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={CrystalFungi} target="_blank">
      <img src={CrystalFungi}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={Elephant} target="_blank">
      <img src={Elephant}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={FetalWaves} target="_blank">
      <img src={FetalWaves}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={HippocampusHaze} target="_blank">
      <img src={HippocampusHaze}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={MyGeography} target="_blank">
      <img src={MyGeography}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={NeuralMycelia} target="_blank">
      <img src={NeuralMycelia}>
    </a>
  </div>
  <div class="ARTbrick">
    <a href={RowsOnRows} target="_blank">
      <img src={RowsOnRows}>
    </a>
  </div>
</div>
<br>
<div style="width:100%;padding: 0 0 2em 0;text-align:center;">
  <a href="/" class="rainbow rainbow_border" style="vertical-align:middle;font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>

<script type="text/JavaScript">
const track = document.querySelector('.carousel__track');
const slides = Array.from(track.children);
const nextButton = document.querySelector('.carousel__button--right');
const prevButton = document.querySelector('.carousel__button--left');
const dotsNav = document.querySelector('.carousel__nav');
const dots = Array.from(dotsNav.children);
const slideWidth = slides[0].getBoundingClientRect().width;
// Arrange SLIDES next to one another
const setSlidePosition = (slide, index) => {
  slide.style.left = slideWidth * index + 'px';  
}
slides.forEach(setSlidePosition);
// MOVE slide
const moveToSlide = (currentSlide, targetSlide, targetDot, targetIndex) => {
  const currentDot = dotsNav.querySelector('.current-slide');
  track.style.transform = 'translateX(-'+ targetSlide.style.left + ')';
  currentSlide.classList.remove('current-slide');
  targetSlide.classList.add('current-slide');
  currentDot.classList.remove('current-slide');
  targetDot.classList.add('current-slide');
  if (targetIndex === 0) {
    prevButton.classList.add('hidden');
    nextButton.classList.remove('hidden');
  } else if (targetIndex == slides.length - 1) {
    prevButton.classList.remove('hidden');
    nextButton.classList.add('hidden');
  } else {
    prevButton.classList.remove('hidden');
    nextButton.classList.remove('hidden');
  }
}
// click LEFT moves slides to the Left
prevButton.addEventListener('click', e => {
  const currentSlide = track.querySelector('.current-slide');
  const prevSlide = currentSlide.previousElementSibling;
  const slideIndex = slides.findIndex(slide => slide === prevSlide);
  const targetDot = dots[slideIndex];
  //move to the next slide
  moveToSlide(currentSlide, prevSlide, targetDot, slideIndex);  
  if (prevSlide == currentSlide) {
    prevButton.classlist.add('hidden');
    moveToSlide(currentSlide, prevSlide, targetDot);
  }
})
// click RIGHT moves slides to the Right
nextButton.addEventListener('click', e => {
  const currentSlide = track.querySelector('.current-slide');
  const nextSlide = currentSlide.nextElementSibling;
  const slideIndex = slides.findIndex(slide => slide === nextSlide);
  const targetDot = dots[slideIndex];
  // move to the next slide
  if (slideIndex != -1) 
    moveToSlide(currentSlide, nextSlide, targetDot, slideIndex);
})
// clicking the nav indicators moves to that slide
dotsNav.addEventListener('click', e => {
  const targetDot = e.target.closest('button');
  if (!targetDot) return;
  const currentSlide = track.querySelector('.current-slide');
  const targetIndex = dots.findIndex(dot => dot === targetDot);
  const targetSlide = slides[targetIndex];
  moveToSlide(currentSlide, targetSlide, targetDot, targetIndex);
})
</script>